body{
    background-image: url("https://w.wallha.com/ws/1/MYBXwnue.png");
    font-family: "Courier New";
    font-size: large;
    padding-left: 15em;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: "*";
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
    background-color: white;
}

.nav1 {
    float: left;
}
.nav2{
    float: left;
}
.nav3{
    float: left;
}


.nav1 a:hover:not(.active) {
    background-color: skyblue;
}
.nav2 a:hover:not(.active) {
    background-color: orange;
}

.nav3 a:hover:not(.active) {
    background-color: burlywood;
}

h3{
    font-family: Chalkboard;
    font-size: 40px;
   text-decoration: overline underline;
}

ol li {
    list-style: none;
    padding-left: 50px;
    position: relative;

}

ol li:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("https://cdn0.iconfinder.com/data/icons/business-set-1-7/512/13-512.png");
}

li a {
    display: block;
    color:darkgreen;
    padding: 20px 10px;
}

@media screen and (max-width: 450px) {
    body {
       padding-left: 5em;
    }
    li a {
        padding: 20px 10px;
    }
}
@media screen and (max-width:800px) {
    body {
        padding-left: 15em;
    }
    li a {
        padding: 10px 5px;
    }

}