body{
    background-image: url("https://w.wallha.com/ws/1/MYBXwnue.png");
    font-family: "Courier New";
    font-size: large;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    font-family: Chalkboard;
    font-size: 40px;
   text-decoration: overline underline;
}
ol li {
    list-style: none;
    padding-left: 50px;
    position: relative;

}

ol li:before {
    content: "";
    position: center;
    top: 12px;
    left: 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("https://cdn0.iconfinder.com/data/icons/business-set-1-7/512/13-512.png");
}

li a {
    display: block;
    color:darkgreen;
    padding: 20px 10px;
}