body {
    margin: 0;
    padding: 0;
    background-color: peachpuff;
    font-family: "Comic Sans MS", sans-serif;
}

#img{
    width:700px;
    height:400px;
}
.center{
    padding-left: 60px;
}

h3{
    padding-left: 15px;
    padding-top: initial;
    padding-bottom: inherit;
}

h4{
    padding-left: 15px;
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: large;
    color: steelblue;
    text-decoration: underline;
    text-shadow: 2px 2px;
    padding-left: 100px;
}

.name {
    margin: 0;
    font-weight: 400;
    color: royalblue;
    padding-left: 5px;
}
p.ex1 {
    direction: rtl;
    color:black;
    padding-top: 40px;
    padding-right: 40px;
}

ol {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: coral;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: large;
}

li a {
    display: block;
    color:black;
    padding: 10px 16px;
    text-decoration: none;
    padding-left: 30px;
}

/* Change the link color on hover */
li a:hover {
    background-color: white;
    color: blue;
}

.right-col{
    float: right;
    margin-right: 4%;
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 16px;
    font-weight: 400;
}
#icon{
    width: 60px;
    cursor: pointer;
}

@media screen and (min-width:360px){
    body{
        width:auto;
    }
    ol {
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: coral;
        position: fixed;
        height: 100%;
        overflow: auto;
        font-size: large;
    }
    .center{
        padding-left: 60px;
    }

    h3{
        padding-left: 15px;
        padding-top: initial;
        padding-bottom: inherit;
    }

    h4{
        padding-left: 15px;
    }
    li a {
        display: block;
        color:black;
        padding: 10px 16px;
        text-decoration: none;
        padding-left: 30px;
    }

    #img{
        width:700px;
        height:400px;
    }
}


@media screen and (max-width:800px) {
    body{
        width:auto;
    }
    ol {
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: coral;
        position: fixed;
        height: 100%;
        overflow: auto;
        font-size: large;
    }
    .center{
        padding-left: 60px;
    }

    h3{
        padding: 15px;
    }
    li a {
        display: block;
        color:black;
        padding: 10px 16px;
        text-decoration: none;
        padding-left: 10px;
    }
    #img{
        width:400px;
        height:200px;
    }
}
