h1 , h2, h3, span {
    margin: 0;
}

h1 {
    font-size: 16rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}

span {
    font-size: 6rem;
    font-weight: 600;
}

.container {
    max-width: 550px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 25px 5px;
}

.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}

img {
    width: 80px;
}

@media screen and (min-width:750px){
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px){
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}


